 body {
        background: black;
    }
    html {
      scroll-behavior: smooth;
    }

    .container {
        display: flex;
        flex-direction: row; /* Buttons in a row */
        justify-content: right; /* Centers buttons horizontally */
        gap: 50px; /* Adds space between buttons */
       padding-top: 50px;
       flex-wrap:wrap;
       

    }




.container button {
width:100px;
height:50px;
}
    button {
        align-items:center;
        background: black;
        color: white;
        border-radius: 50px;
        margin:2px;
        border: 1px;
        transition: all 0.3s ease-in-out;
     
    }
    h4{
      color: white;
      padding: 0px 0px;
      margin-top: 10%;
     margin-right:100px;
      text-align:center;
margin-bottom:5px
    }
    h1{
      color:white;
      margin-top:0px;
      text-align:center;
      margin-top:5px;
      margin-bottom:5px;
      color: rgb(92, 243, 87);
      
    }
    h5 {
      color:white;
      margin:0px;
      padding-left: 150px;
      text-align:center;
      margin-bottom:5px;
    }
    h2 {
      margin-top:30%;
     
      color:white;
     
text-align: center;
     margin-left: 5%;

    }
    .tab-menu {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 2px;
    padding-left: 200px;
    margin-top: 1px;
    
    
}

.tab-button {
  margin-top:1%;
    padding: 10px 20px;
    border: none;
    background: none;
    font-size: 18px;
    cursor: pointer;
    color: white;
    transition: color 0.3s ease;
}

.tab-button.active {
    color: red; /* Highlight active button */
    
}

.tab-content {
    display: none;
    padding: 5%;
    background: black;
    justify-content:center;
    color: white;
    border-radius: 5px;
    width: 50%;
    margin:auto;
    transition: opacity 0.5s ease-in-out;
}
.tab-content p {
  padding-left:40%;
  justify-content:center;
  flex-wrap:wrap;
}

.tab-content.active {
    display: block;
}
h6 {
  color:white;
  text-align: center;
  text-align: left;
  margin-right: 30%;
  padding-left: 45%;
  flex-wrap:wrap;
  font-size: larger;
  
}
.head {
  margin-top:15%;
  margin-bottom:1px;
  color: white;
  text-align: center;
  font-size:30px;
  font-weight:bold;
  
  
}
.work {
  color:white;
  text-align: center;
  font-size:30px;
  font-weight:bold;
}
.boxes {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
    gap:15%;
}
.boxes {
  display:flex;
  gap:50px;
}
.boxes button {
  flex-direction:row;
  width:230px;
  height:150px;
  margin-bottom:10px;
  background:white;
  color:black;
 
}
.pro button{
  color:white;
  flex-direction:row;
  margin:20px;
  width:270px;
  height:200px;
}
.container button:hover{
  background:rgb(92, 243, 87);
  color:black;
  box-shadow:0px 10px 30px rgb(34, 248, 59);
}
.boxes button:hover {
  transform:scale(1.16);
  box-shadow: 0px 5px 10px rgb(34, 248, 59);
  background:rgb(92, 243, 87);
  color:black;
  text-shadow:0px 0px 10px black;
  
}
  
.last button {
  display:flex;
  flex-direction:row;
  margin:30px;
  width:270px;
  height:200;
}
.imagebox {
  width:300px;
  height:500px;
  position: absolute;
  top:200px;
  left:10px;
  margin-top:30%;
  
}
.imagebox img {
  width:100%;
  height:100%;
}
.pro-container {
  display:flex;
  gap:15%;
  flex-wrap:wrap;
  justify-content: center;
}

.probox {
  width:200px;
  height:200px;
  align-content:center;
  text-align:center;
  background:white;
  color:black;
  border-radius:20%;
  transition: 0.3s ease-in-out;
  margin-top:2px;
}
.tab-content h6{
  color:red;
  text-align:center;
  font-size: larger;
  padding-right: 12%;
  margin-top:5px;
margin-bottom:5px;
  
}
.probox:hover{
  background:rgb(92, 243, 87);
  transform:scale(1.2);
    box-shadow: 0px 5px 10px rgb(34, 248, 59);
}
h2 {
  justify-content:center;
}

h3 {
  color:white;
  text-align:center;
  font-size:25px;
  border-bottom:2px solid white;
  width:200px;
  margin:auto;
  margin-top:50px;
  margin-bottom:20px;
  font-weight:bold;
}
.images {
  display:flex;
  gap:20px;
  justify-content:center;
}
.imbox1 {
  width:90px;
  height:80px;
  background:white;
  margin-bottom:200px;
  border-radius:50%;
}
.imbox2 {
  width:90px;
  height:80px;
  background:white;
  margin-bottom:200px;
  border-radius:50%;
}
.imbox1 img {
  width:90px;
  height:80px;
  border-radius: 50%;
}
.imbox2 img {
  width:90px;
  height:80px;
  border-radius: 50%;
  
}
.cont {
  justify-content:center;
  color:aliceblue;
  font-size:25px;
  border-bottom: 2px solid white;
  text-align: center;
  width:200px;
  margin:0 auto;
  margin-top:80px;
  margin-bottom:20px;
  
}
.mails {
  color:white;
  justify-content: center;
  text-align:center;
  font-size:20px;
  margin-bottom: 15px;
}
.phone {
  color:white;
  justify-content: center;
  text-align:center;
  font-size:20px;
}
.profile {
  width:400px;
  height:900px;
  background: white;
  flex-wrap: wrap;
  position:absolute;
  top:550px;
  
  border-radius: 5%;
  
}
.profile img {
  width:100%;
  height:100%;
  border-radius:5% ;
}
  .project-card {
          
            position: relative;
            width: 300px;
            height: 200px;
            border-radius: 10px;
            overflow:hidden;
            
        }

        .overlay {
            position: absolute;
            bottom: -100%; /* Start from bottom */
           
            width: 100%;
            height: 100%;
            background: linear-gradient(to bottom, black, rgb(0, 255, 0)); /* Black to red gradient */
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            transition: bottom 0.3s ease-in-out;
        }
        .overlay .icon {
            width: 40px;
            height: 40px;
            background: white;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 20px;
            
        }

        .project-card:hover .overlay {
            bottom: 0; /* Moves up on hover */
        }
        .project-card h2 {
          color:white;
          text-align:center;
          margin-top:25%;
 
        }
        .overlay h5{
          color:white;
          display:flex;
          
          
       
        }
        .inside, .inside1, .inside2 {
          margin-bottom:-10px;
          font-size:25px;
          

          
        }
        .all {
          justify-content:center;
          display:flex;
          gap:20px;
          flex-wrap:wrap;
        }

@media screen and (max-width: 768px) {
    .container {
        flex-direction: column; /* Stack buttons vertically */
        align-items: center; /* Center align */
        gap: 10px;
    }
    
    .container button {
        width: 50%; /* Make buttons full width */
        max-width: 300px;
    }

    .tab-menu {
        flex-direction: row; /* Stack menu items */
        align-items: center;
        padding-left: 0;
    }

    .tab-content {
        width: 90%; /* Make it wider */
        padding: 0px;
    }
    .tab-content active {
      display:flex;
    }
    p {
      justify-content:center;
      align-items:center;
      text-align: left;
      margin-left:-100px;
      
 
    }

    h1, h2, h6 {
        text-align: center;
        padding: 5px;
        margin: auto;
        margin-top:-5px;
    }
    h4 {
      
      margin-top:10%;
      margin-bottom:-5px;
    }
    h5 {
      margin-top:-5px;
      margin-bottom:150%;
    }

    .boxes, .pro-container, .images {
        flex-direction: column; /* Stack elements */
        align-items: center;
    }

    .probox {
        flex-direction: column;
        align-items:center;
        margin:40px;
    }

    .profile {
        width: 90%;
        height: 60%;
        position: static;
        margin: auto;
        position: absolute;
        top:65%;
        
    }

    .imagebox {
        width: 90%;
        height: auto;
        position: static;
        margin: auto;
    }
    .head {
    
      margin-top:50%;
    }
    .work {
      margin-bottom:20%;
    }
    .images {
      flex-direction:row;
    }
    .boxes button {
      background:white;
      color:black;
    }
    .overlay h5,p {
          color:white;
          margin:10px auto;
         
       
        }
      }
